{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen"/>
    <script type="text/javascript" src="{% static 'js/keycode.js' %}"></script>
    <style>
        .icon {
            width: 30px;
            height: 40px;
            /* font-size: 100px;
             font-family: Verdana;*/
        }

        .txt {
            font-size: 30px;
            font-family: Verdana;
            fill: #7a2a1d;
        }

        .nmnsvg {
            width:100%;
            height: 800px;
        }

        .nmnsvg {
            border: 1px solid #ff0000;
            overflow: hidden;
        }

        svg {
            overflow: hidden;

        }
    </style>
</head>
<body>
<div class="nmnsvg">
    <svg id="jpsvg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <text stroke="black"x="0" y="0"dx="0"dy="30"fill="inherit"font="inherit" class="txt">1</text>
        <text stroke="black"x="0" y="0"dx="30"dy="30"fill="inherit"font="inherit" class="txt">2</text>
        <text stroke="black"x="0" y="0"dx="60"dy="30"fill="inherit"font="inherit" class="txt">3</text>
        <text stroke="black"x="0" y="0"dx="90"dy="30"fill="inherit"font="inherit" class="txt">4</text>
        <text stroke="black"x="0" y="0"dx="120"dy="30"fill="inherit"font="inherit" class="txt">5</text>
        <g>
            <text stroke="black"x="0" y="0"dx="150"dy="30"fill="inherit"font="inherit" class="txt">5</text>
            <circle cx="165"cy="80"r="5"stroke="none" fill="black"/>
        </g>

    </svg>
    </svg>
</div>

<div id="editor" tabindex='-1'>

    <div id="lines">
        <span>1</span><br/>
        <span>2</span><br/>
        <span>3</span><br/>
    </div>
    <div id="content">

    </div>
</div>
<span class="blinking-cursor">|</span>

</body>
<script type="text/javascript">

    /// <reference path="defs/jquery.d.ts" />

    var Editor = {
        "caretIndex": 0,
        "text": '',

        "textBeforeCaret": function () {
            if (this.caretIndex == 0) {
                return "";
            } else {
                return this.text.substring(0, this.caretIndex);
            }
        },
        "textAfterCaret": function () {
            if (this.caretIndex == this.text.length) {
                return "";
            } else {
                return this.text.substring(this.caretIndex);
            }
        },
        "generateHtml": function () {
            return this.textBeforeCaret()
                + "<span class='cursor-placeholder'>|</span>"
                + this.textAfterCaret();
        },
        "type": function (c) {
            this.text = this.textBeforeCaret() + c + this.textAfterCaret();
            this.caretIndex = this.caretIndex + 1;
        },
        "deleteChar": function () {
            if (this.textBeforeCaret().length > 0) {
                this.text = this.textBeforeCaret().substring(0, this.textBeforeCaret().length - 1) + this.textAfterCaret();
                this.caretIndex--;
                return true;
            } else {
                return false;
            }
        },
        "moveLeft": function () {
            if (this.caretIndex == 0) {
                return false;
            } else {
                this.caretIndex--;
                return true;
            }
        },
        "moveRight": function () {
            if (this.caretIndex == this.text.length) {
                return false;
            } else {
                this.caretIndex++;
                return true;
            }
        }

    }


    let updateHtml = function () {
        console.log(document.getElementsByClassName("cursor-placeholder"));
        document.getElementById("editor").innerHTML = Editor.generateHtml();
        var jpeditor = document.getElementById("editor").getBoundingClientRect();
        var cursorPos = document.getElementsByClassName("cursor-placeholder")[0].getBoundingClientRect();
        console.log("光标位置：", cursorPos.x, cursorPos.y, "右下角：", cursorPos.right, cursorPos.bottom);
        console.log("编辑器位置：", jpeditor.x, jpeditor.y);
        console.log("浏览器宽高：", window.screen.width, window.screen.height);

        var delta = cursorPos.offsetWidth / 4;
        //document.getElementsByClassName("blinking-cursor")[0].setAttribute('style', 'top:' + cursorPos.offsetTop + ';left:' + (cursorPos.offsetLeft - delta));
        document.getElementsByClassName("blinking-cursor")[0].setAttribute('style', 'top:' + cursorPos.y + ';left:' + (cursorPos.x));
    };

    (function () {
        //  let editor = new Editor(0, "");
        let jpeditor = document.getElementById("editor");
        updateHtml();
        jpeditor.addEventListener("keydown", function (ev) {
            console.log("its.begin");
            var oEvent = ev || event;
            let keyCode = oEvent.keyCode;
            keyCodeArry = addKeyCodeArry(keyCode, keyCodeArry);
        });
        jpeditor.addEventListener("keyup", function (ev) {
            var oEvent = ev || event;
            let keyCode = oEvent.keyCode;
            keyeventhandle();
            keyCodeArry = deletKeyCodeArry(keyCode, keyCodeArry);
        });

    }())


</script>
<script type="text/javascript">

    //组合键监控键盘事件
    let keyCodeArry = [];

    function keyD(ev) {
        var oEvent = ev || event;
        keyCode = oEvent.keyCode;
        keyCodeArry = addKeyCodeArry(keyCode, keyCodeArry);

    }

    function KeyUp(ev) {
        var oEvent = ev || event;
        keyCode = oEvent.keyCode;
        keyeventhandle();
        keyCodeArry = deletKeyCodeArry(keyCode, keyCodeArry);

    }


    function addKeyCodeArry(num, arr) {
        var check = 0;
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == num) {
                check = 1;
            }
        }
        if (check == 0) {
            arr.push(num);
        }
        return arr;
    }

    function deletKeyCodeArry(num, arr) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == num) {
                arr.splice(i, 1);
            }
        }
        return arr;
    }

    function keyeventhandle() {
        console.log("press a key");
        switch (keyCodeArry[0]) {  // 获取当前按下键盘键的编码
            case 37 :  // 按下左箭头键，向左移动

                break;
            case 39 :  // 按下右箭头键，向右移动一个

                break;
            case 38 :  // 按下上箭头键，向上移动5个像素

                break;
            case 40 :  // 按下下箭头键，向下移动5个像素

                break;
            case 72://按下了H键，后判断数字键
                if (keyCodeArry[1]) {

                }
                break;

            case 76://按下了l键,然后数字键

                break;

            case 48:
            case 49:
            case 50:
            case 51:
            case 52:
            case 53:
            case 54:
            case 55:
            case 56:
            case 57:
            case 96:
            case 97:
            case 98:
            case 99:
            case 100:
            case 101:
            case 102:
            case 103:
            case 104:
            case 105://直接数字键
                var c = keyencode[keyCodeArry[0]];
                Editor.type(c);
                updateHtml();
                break;
            case 16://左边Shift键

                break;
            case 13://回车键

                break;

            default:

                //console.log(keyencode[e.keyCode]);
                //console.log(row, col);


                // jpsvg.appendChild(txt);
                break;
        }


    }
</script>
<script type="text/javascript">
    var oUl = document.getElementById("t"); //获取ul节点
    deleteSpace(oUl);


    //传入父节点，删除它子节点中的空白文本节点
    function deleteSpace(node) {
        var childs = node.childNodes;
        for (var i = 0; i < childs.length; i++) {
            if (childs[i].nodeType === 3 && /^\s+$/.test(childs


                [i].nodeValue)) {
                node.removeChild(childs[i]);
            }
        }
        return node;
    }

</script>
</html>
