{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
    <script src="//at.alicdn.com/t/font_1348553_9std4iimcnu.js" type="text/javascript"></script>
    <script src="{% static 'js/Creat.js' %}" type="text/javascript"></script>
    <style>
        svg {
            border: 1px solid #ff0000;
        }
    </style>
</head>
<body>
<div class="">

    <svg width="500" height="200" viewBox="0 0 50 20">
        <symbol id="m" viewBox="0 0 200 80">
            <rect x="0" y="0" width="10" height="4" style="stroke: #000000; fill:none;"/>
        </symbol>
        <use xlink:href="#m" x="0" y="0"/>


    </svg>
</div>

</body>
<script type="text/javascript">
    function k() {
        let mysvg = createTag("svg", {"class": "icon txt_red", "aria-hidden": "true"});
        let myuse = creatDefsUse("#icongd", {});
        mysvg.appendChild(myuse);
        document.getElementById("j").appendChild(mysvg);
    }
</script>
</html>